services:
  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: rohan
      POSTGRES_PASSWORD: britt
      POSTGRES_DB: mithrandirdb
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data